@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');
@import url('https://fonts.googleapis.com/css?family=Acme|Amarante&display=swap');

.navbar{
  padding:25px;
  font-family: 'Kaushan Script', cursive;
  font-size:30px;
}


img{
height:25vh;
}
.card:hover{
  -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
  box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}

.col-md-3{

  margin-bottom:10px;

}

p{
  font-family: 'Acme', sans-serif;
  font-size:25px;
}

h3{
  font-family: 'Amarante', cursive;
  font-size:35px;
  color:#44180D ;
}

h1{
  font-family: 'Amarante', cursive;
  font-size:40px;
  color:#44180D ;
}

input
{
  padding:20px;
  margin-bottom:10px;
  width:100%;
  margin-top:4px;
}


.col-md-12{
  margin-top: 150px;
  border: 5px solid black;
  font-family: 'Amarante', cursive;
}

.regb
{
  margin-top:5px;
  margin-bottom:5px;
}

.pf{
  text-align: center;
}

.footer{
  margin-top:100px;
}

